.radio {
    text-align: center;
    background:
        linear-gradient(tomato, transparent),
        linear-gradient(to top left, lime, transparent),
        linear-gradient(to top right, blue, transparent);
    background-blend-mode: screen;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.setlogo {
    position: fixed;
    top: 30px;
}

.hbr-title {
    position: fixed;
    left: 5px;
    bottom: 20%;
    transform: rotate(-90deg);
    transform-origin: top left;
}

.allign-the-image-vertically {
    padding-top: 15px;
    padding-left: 10px;
}

.left-floater {
    float: left;
}

.right-floater {
    float: right;
}

.add-right-margin {
    margin-right: 40px;
}

.add-left-margin {
    margin-left: 15px;
    font-size: 12pt;
    color: #e74c3c;
}

.add-top-margin {
    margin-top: 40px;
}

.radio-link {
    position: fixed;
    bottom: 2%;
}

.radio-link,
a {
    color: #ffffff;
    font-size: 8pt;
    line-height: 0px
}

.radio-link .thisimg {
    padding-top: 4px;
    margin-right: 4px;
}

/* for the slider */
input[type="range"] {
    margin-top: 7px;
    -webkit-appearance: none;
    width: 300px;
    height: 4px;
    background: #3498db;
    background-position: center;
    background-repeat: no-repeat;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background: #34495e;
    position: relative;
    border: 3px solid #e74c3c;
    z-index: 3;
    cursor: pointer;
}

/* For the shortcuts component */
.callout {
    position: fixed;
    top: 50px;
    right: 50px;
    max-width: 250px;
}

.callout-header {
    /* top right bottom left */
    padding: 8px 8px 8px 8px;
    background: #fff;
    color: #3273dc;
    cursor: pointer; 
    border-radius: 12px;
    margin-bottom: 26px;
    width: 240px;
}

.callout-header span{
    font-size: 12pt;
}

.callout-container {
    /* top right bottom left */
    padding: 8px 8px 8px 8px;
    background-color: #f0f0f0f0;
    color: white;
    font-size: 12pt;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.callout-container p {
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 12pt;
    line-height: 12px;
}

.callout-container span {
 color: black;
}

.closebtn {
    position: absolute;
    top: 5px;
    right: 15px;
    color: white;
    font-size: 12pt;
    cursor: pointer;
}

.closebtn:hover {
    color: lightgrey;
}

.cursor-to-hand{
    cursor: pointer;
}

.speech-bubble {
	position: relative;
	background: #00aabb;
	border-radius: .4em;
}

.speech-bubble:after {
	content: '';
	position: absolute;
	top: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-bottom-color: #00aabb;
	border-top: 0;
	margin-left: -20px;
	margin-top: -20px;
}
.allign-toogle-image-vertically {
    padding-top: 5px;
    padding-left: 6px;
}
.cheza-chini {
    position: fixed;
    bottom: 15%;
}