.radio {
    text-align: center;
    background:
        linear-gradient(tomato, transparent),
        linear-gradient(to top left, lime, transparent),
        linear-gradient(to top right, blue, transparent);
    background-blend-mode: screen;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.setlogo{
position: fixed;
top: 30px;
}

.hbr-title {
    position: fixed;
    left: 5px;
    bottom: 20%;
    transform: rotate(-90deg);
    transform-origin: top left;
}

.allign-the-image-vertically {
    padding-top: 15px;
    padding-left: 10px;
}

.left-floater {
    float: left;
}

.right-floater {
    float: right;
}

.add-right-margin {
    margin-right: 40px;
}

.add-left-margin {
    margin-left: 5px;
}

.add-top-margin {
    margin-top: 40px;
}

.radio-link {
    position: fixed;
    bottom: 2%;
}

.radio-link,
a {
    color: #ffffff;
    font-size: 8pt;
    line-height: 0px
}

.radio-link .thisimg {
    padding-top: 4px;
    margin-right: 4px;
}